# Root-level ignores
.env
node_modules/

# Ignore client and server node_modules
client/node_modules/
server/node_modules/

# Optional: ignore build folders
client/build/
server/dist/

# Mac/Linux/Windows OS files
.DS_Store
Thumbs.db

