# Root-level ignores
.env
node_modules/

# Ignore client and server node_modules
client/node_modules/
mongooseserver/node_modules/
mongoserver/node_modules/

# Optional: ignore build folders
client/build/
mongooseserver/dist/
mongoserver/dist/

# env files
mongooseserver/.env
mongoserver/.env

# Mac/Linux/Windows OS files
.DS_Store
Thumbs.db

